body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background-color: black;
}
hr {
  color: purple;
  border-top: 3px dotted #FFFFFF;
}
.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
h1 {
  display: inline-block;
  background: #fff;
  font-size: 30px
}
h2 {
  display: inline-block;
  background: #fff;
  font-size: 20px;
}
span {
  background: #fd0;
}
button {
  width: 50px;
  height: 50px;
  background-color: #fd0; /* Green */
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}
button:hover {
  background: pink;
}
p {
  color: white;
}
.period {
  display: inline-block;
  text-align: left;
  width: 60%;
  font-weight: bold;
  color: black;
  background: linear-gradient(to bottom, blue, white 50%, red);
}
.subject {
  display: inline-block;
  width: 60%;
  text-align: center;
  font-weight: bold;
}
.location {
  text-align: center;
  color: pink;
}






